body.app-is-loading {
    padding: 0;
    overflow: hidden;
}

.app-is-loading .chat-loader {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s;
    transition: all 0s;
}

.chat-loader {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: #eee;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.chat-loader .chat-loader-content {
    text-align: center;
}

.chat-loader .chat-loader-animation {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: transparent url('images/loading.svg') 50% 50% no-repeat;
    background-size: 50px 50px;
}
.chat-loader .chat-loader-animation {
    position: relative;
}
.chat-loader-spinner {
    fill: #f00;
}

.chat-loader .chat-loader-animation:before,
.chat-loader .chat-loader-animation:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 22px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: tomato;
}

.chat-loader .chat-loader-animation:after {
    top: auto;
    bottom: 6px;
}

.chat-loader .chat-loader-text {
    color: white;
    font-size: 4vh;
}
