<%
pageClass = "blank"
%>
<% include ejs/include/header.ejs %>
<article class="text-content">

    <h1>Terms and Conditions</h1>
    <p>Last updated: 15.11.2014</p><br>

    <p class="no-margin-bottom"><strong>OVERVIEW</strong></p>
    <p>We are happy to provide our website to you to help you meet new, exciting people, and establish relationships. The
        agreement written below will clearly define and establish the mutual relationship between us. While there are
        obligations that will continue after the agreement terminates, either party can break ties at any time. The legal
        rights and responsibilities of us both are established in this agreement as our relationship continues, and after it
        ends, should it end. The following documentation is a contract with provisions that you should read carefully to
        ensure that you understand them.</p>
    <p>When you register with us and to utilize the service and website you enter into the following agreement with us. By
        using our services you agree to our terms and conditions and privacy policy and establish your consent and agreement
        to every one of the terms in this agreement. You cannot agree to only some of the provisions in the terms and
        conditions, nor can you alter, change, or modify the terms and conditions without written agreement signed by both
        you and us.</p>
    <p>If you agree to be bound by the following terms and conditions, please tick the box located at the bottom of the
        registration page, agreeing to the words "I am over 18 years old and have read and agreed to the terms and
        conditions and privacy policy".</p>
    <p>If you do not agree to these terms and conditions, you should not register as a user.</p><br>

    <p class="no-margin-bottom"><strong>DEFINITIONS</strong></p>
    <p>This agreement sets out the terms and conditions under which our service is provided to you. This agreement is
        created and entered into between and by these two parties:</p>
    <p>This website will be referred to in this agreement as “we” and “us”, and the user of the website as “you”, or "user".
        By entering into this agreement, you become a user of the website, just as others who have entered into this
        agreement are also users.</p><br>

    <p class="no-margin-bottom"><strong>ELIGIBILITY</strong></p>
    <p>The service that we provide is available only to registered users. Before you register to become a user, please read
        these terms and conditions carefully, as they form part of a legally binding agreement between us and you.</p>
    <p>By registering on the website, you represent and warrant that you are at least 18 years old and are of legal age in
        the jurisdiction where this website is being viewed and are at least 18 years of age (21 years in certain
        jurisdictions such as the US states of AL, MS, NE, and WY). You will not permit any persons who are not of legal age
        in the jurisdiction where this website is being viewed, and who are not at least 18 years of age (21 years in
        certain jurisdictions) to view or access in any way any materials found. You understand that by accessing the
        website, you will be exposed to materials that may include but are not limited to, visual images, and verbal
        descriptions of a sexually oriented and frankly erotic nature. You affirm that you are not offended by such
        materials, and that such materials are legal in your community.</p>
    <p>You are volunteering to view, and access such materials of your own volition, and you choose to do so because you
        want to view/read/hear or otherwise access such materials for your own enjoyment, information or entertainment. Your
        choice is a manifestation of your interest in such matters, which is healthy and normal, and is also held by most
        adults in your area.</p>
    <p>You are completely familiar with the standards held in your community, and the material you expect to access on this
        website falls within these standards. In your experience, the average adult in your community accepts the
        consumption of such materials by willing adults in circumstances such as this, which offer reasonable insulation
        from the materials for minors, and unwilling adults. Adults in your community will accept the standards displayed
        within this website, and will not find any of the material patently offensive.</p>
    <p>Membership in this service and registration on the website is void where prohibited.</p>
    <p>By using the website, you represent and warrant that you have the right, authority, and capacity to enter into this
        agreement and to abide by all of the terms and conditions of this agreement. You may not authorize others to use
        your membership, and you may not assign or otherwise transfer your account to any other person or entity.</p><br>

    <p class="no-margin-bottom"><strong>RESTRICTIONS AND CONDUCT</strong></p>
    <p>You agree to use our services and act as a user of the website in accordance with the following restrictions:</p>
    <ul>
        <li>All information you gain on the site must be kept private and confidential. You will not disclose this
            information without the express permission of the person who gave it to you.
        </li>
        <li>You will not engage or participate in any form of harassment of users, or otherwise engage in offensive behavior
            towards them, against the community's standards, on this website.
        </li>
        <li>Obscene or offensive language is prohibited; you will not communicate in such manner.</li>
        <li>You will not use the services or website to promote, solicit, or engage in, any unlawful behavior.</li>
        <li>Using the Website to promote or distribute any material advertising, soliciting, marketing, or providing any
            good or service is prohibited; you will not engage in these activities.
        </li>
        <li>You will not create or attempt to create an account on the website if you are under the age of 18 (or the legal
            age of majority in your jurisdiction).
        </li>
        <li>You will not have more than one account active at any time.</li>
        <li>You will not create an account that misrepresents your personal identity, or create an account for someone other
            than yourself.
        </li>
        <li>Previously banned users of the site are not allowed to return to the website, and are not allowed to create a
            new account or use their old one; you will not create an account if you have been banned from the website.
        </li>
        <li>Convicted sex offenders are restricted from the website community; if you are a convicted sex offender you will
            not create an account.
        </li>
    </ul><br><br>

    <p class="no-margin-bottom"><strong>MONITORING THE WEBSITE</strong></p>
    <p>We reserve the right to monitor every submission of information you send, to ensure compliance with our terms and
        conditions.</p>
    <p>You are solely responsible for your interactions with our other users. We reserve the right, but have no obligation,
        to, monitor disputes between you and other users.</p><br>

    <p class="no-margin-bottom"><strong>PERSONAL INFORMATION</strong></p>
    <p>Private or personal information is the information about an individual. The website requires such information from
        you for the purpose of creating your profile on the website.</p>
    <p>We reserve the right to utilize the information you give us on your profile, for the purpose of displaying
        personalized ads to you.</p>
    <p>Third-party companies may be used by the site to give the site additional features and services. When these features
        and services are used, the IP address of the user’s computer may be given to one of these companies.</p>
    <p>We encourage you to read the privacy policies of these third-party companies, as they are likely to be different from
        ours. The website is not responsible for the privacy policies or any other policies or agreements of third-party
        companies or any other external website that may be accessed from our website. For more information visit our
        <a href="/privacy" title="Privacy">privacy policy</a>.</p><br>

    <p class="no-margin-bottom"><strong>EXTRAS AND SERVICE FEES</strong></p>
    <p>The website offers opportunities to purchase various additional services such as messaging and sending virtual gifts
        ("extras"). These extras may be purchased for you or as a gift for another user. The description and the costs of
        each extra are set out clearly on the website.</p>
    <p>After your initial free credits are spent you may purchase additional credits for extras at any time online. You only
        need extras to send messages, gifts and photos. Receiving messages, gifts and photos is FREE of charge. Sending one
        (1) message or photo costs 40 Credits. One (1) message is limited to 240 characters. You can send up to three (3)
        messages in one chat (120 credits).</p>
    <p>Once purchased, credits may only be used for purchasing extras and are not refundable. Credits expire 90 days after
        purchase (but we're sure you'll have used them way before that anyway!). If you receive free or promotional credits,
        we may invalidate them at any time. No refund will be given for expired credits.</p><br>

    <p class="no-margin-bottom"><strong>DELIVERY POLICY AND ELECTRONIC RECEIPT</strong></p>
    <p>We deliver access to the website and the services, digitally. Details on access are provided on the final
        confirmation screen and in the confirmation receipt sent to the user's email address provided at checkout. Should
        you encounter any difficulties with logging into the website, in the first instance you should contact the support
        service of this website. If you are dissatisfied with the response please contact our authorized reseller. Users
        may, at any time, request a copy of charges made during the life of their membership to the site by logging into the
        customer menu at our authorized reseller's secure website. Please refer to the order confirmation email you will
        have received after you completed your purchase for details.</p><br>

    <p class="no-margin-bottom"><strong>CANCELLATION, REFUND AND RETURN POLICY</strong></p>
    <p>At any time, and without cause, membership to the website may be terminated by either the website, or the member upon notification to the other by electronic mail. When the member requests the termination, existing credit balance is NOT refunded. Users are liable for charges incurred by them until termination of service.</p>
    <p>Any refunds can only be made to the same card number or bank account that was used to place the original order.</p>
    <p>If you need to cancel your order, in the first instance you should contact this website through our contact email address. Should you encounter any difficulties with cancellation of your order please contact us at: +1-877-244-6943 or open a support ticket with our authorized reseller. (If you phone in please have your order number (in xxxxxx.yyyyyyy format, i.e. 999994.1234567) and other details ready, which you will find in the order confirmation email you will have received after you completed the checkout process.)</p>
    <p>For Dalpay payment: Dalpay.is may appear on your card statement.</p>
    <p>For other credit card payments:  This charge will appear as "Maxxflirt 1-877-244-6943" on your credit card statement.</p>



    <p class="no-margin-bottom"><strong>CARD ISSUER INTL SERVICE FEES</strong></p>
    <p>Some banks and credit or debit card issuers may charge you an international processing fee. This international
        service fee is controlled and charged by your bank, or card issuer not by Chilliboot Limited or its resellers.
        Please refer to INTLServiceFee.com</p><br>

    <p class="no-margin-bottom"><strong>PRICE CHANGES</strong></p>
    <p>We reserve the right to alter our packages at any time.</p><br>

    <p class="no-margin-bottom"><strong>AGREEMENT CHANGES</strong></p>
    <p>Understand that this agreement is subject to change. We retain the right to change, alter, and/or modify this
        agreement at any time. You will be informed of the change by e-mail notification; an e-mail regarding the changes
        will be sent to the e-mail recorded in your profile. If you do not agree with the changes made in this agreement,
        you must cancel your membership and delete your profile.</p><br>


    <p class="no-margin-bottom"><strong>WARRANTY AND LIMITED LIABILITY DISCLAIMER</strong></p>
    <p>You agree and thoroughly understand that whenever you use the website and any services it provides, you do so at your
        own risk. The website’s feature and services are provided without any warranties whatsoever, with the exception of
        warranties that are required by law. Under no circumstances will we or our affiliates or resellers be held liable
        for any misrepresentation of information by you or any other user. Under no circumstances will we or our affiliates
        or resellers be held liable by you or any other third party for any loss, damages, or injury caused by your actions
        or any others user’s action on the website, or outside of it. In no event shall the liability of the website, or its
        affiliates or resellers, exceed the sum paid for the service.</p><br>


    <p class="no-margin-bottom"><strong>CONDITIONS OF SERVICE</strong></p>
    <p>Please understand that by using our services you acknowledge that:</p>
    <ul>
        <li>The website cannot be held liable for the information that you provide through our website, your e-mail, and
            other forms of personal messages.
        </li>
        <li>The service and website cannot be used for any unlawful reason. Any and all content on the site that we have
            reasonable concerns of unlawful conduct about will be handed over to law enforcement.
        </li>
        <li>The website uses support staff to monitor and moderate the chat system, leading to chat dialogues and
            conversations with the users.
        </li>
        <li>The information that you provide to others is out of our control and we cannot take responsibility for your
            actions, so be careful what kind of information you provide to others, especially personal or private
            information.
        </li>
        <li>As a user you are advised not to assume that any user content is accurate. A person may not be who he or she
            claims to be. You should at all times exercise the same caution you would normally when you meet people. We
            cannot be liable for false or misleading statements by users.
        </li>
        <li>As a user you at all times remain solely responsible (and liable) for the use of your identification information
            by third parties or for the actions or statements made through your user's account, whether these be fraudulent
            or not.
        </li>
        <li>The messages that other users send are not in our control; you release us and our affiliates and resellers from
            liability regarding all communications and content sent from other users and received by you.
        </li>
        <li>If you feel or suspect that there has been a breach (of any kind) of your account and or the information
            displayed on your profile then you must immediately notify us. Furthermore; you should also amend your password.
        </li>
    </ul><br><br>

    <p>
        <strong></strong>
        The website and the service is operated by Chilliboot Limited, a company registered under the laws of England, no. 09305726. EU Office: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ, England.
        <br><br>
        To <a href="mailto:support.gb@maxxflirt.com">CONTACT US</a>
        click <a href="mailto:support.gb@maxxflirt.com">HERE</a>.
    </p>
</article>
<% include ejs/include/footer.ejs %>