/* Helpers */
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}

.pull-left { float: left;}
.pull-right { float: right;}
.text-right { text-align: right; }
.text-center { text-align: center; }
